@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
   background: linear-gradient(236.85deg, #FFC0CB	 27.26%, #FF69B4	 96.03%);
   font-family: 'Playfair Display', serif;
}

.container {
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 64px;
}

.perfil {
    display: flex;
    align-itens: center;
}

.perfil-foto {
    border-radius: 460px;
    max-height: 160px;
    max-width: 160px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.titulo {
    margin-left: 16px; 
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400; 
    font-size: 24px;
}

.projetos {
    display: flex;
    flex-direction: column;
}